body {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;
    margin: 0;
    background-color: lightsteelblue;
}

.header {
    justify-content: space-between;
    display: flex;
    flex: 1;
    background-color:rgb(67, 164, 255);
    margin: 10px;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: white;
    padding: 10px;
}

.info .container {
    display: flex;
    flex: 1;
    margin: 24px;
    justify-content: center;
    gap: 140px;    
}

.info p {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}

.content {
    flex-flow: column nowrap;
}

.content .sub-title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding: 42px;
}

.content .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 24px 8px 64px;
    gap: 100px;
}

.content .card {
    flex-flow: column wrap;
    width: 200px;
    height: 200px;
    padding: 20px;
}

.content img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 4px solid blue;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
}

.content img:hover {
    opacity: 0.3;
}

.content .sub-info {
    flex-flow: column wrap;
    text-align: center;
    padding: 12px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: 80px;
}